#list-container{
    background-color:blanchedalmond;
    flex-direction: row;
    display: inline-flex;
    width: 10%;
    justify-content: center;
    border-radius: 10px;
    margin-top: 15px;
    position: fixed;
}
p{
    font-weight: bold;
    font-size: large;
    display: inline-flex;
}

button:hover{
    margin-top: 100px;
    margin-left: 20px;
    background-color:rgb(208, 191, 165);
    font-weight: bold;
    font-size: large;
    padding: 10px;
    border-radius: 10px;
}
